/*----fonts-------------------------------------------*/

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Spectral:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

/*----variables-------------------------------------------*/

:root {
    --maxWidth: 1440px;
    --mainFont: "Inter", sans-serif;
    --secondFont: "Spectral", sans-serif;
    --white: #ffffff;
    --lightGrey: #D0D0D0;
    --darkGrey: #7E7E7E;
    --black: #000000;
}

/*----main-------------------------------------------*/

* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    color: inherit;
    font-family: inherit;
    background-color: inherit;
    box-sizing: border-box;
    border: none;
    outline: none;
}
h1,
h2,
h3,
h4,
h5,
h6,
a,
p,
span,
i,
b,
button {
    font-weight: inherit;
    font-size: inherit;
    font-family: inherit;
    text-transform: uppercase;
}
body {
    font-size: 40px;
    font-weight: 600;
    font-family: var(--mainFont);
    background-color: var(--white);
    color: var(--lightGrey);
}
.wrapper {
    min-height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}
main {
    width: 100%;
    height: 100%;
    flex: 1 1 auto;
}
.__container {
    width: 100%;
    height: 100%;
    padding: 0 20px;
    margin: 0 auto;
    max-width: var(--maxWidth);
}
button {
    cursor: pointer;
    transition: 0.5s;
}

/*----header-------------------------------------------*/

.header {
    width: 926px;
    margin: 0 auto;
}
.header img {
    width: 100%;
}

/*----cities-------------------------------------------*/

.cities {
    width: 100%;
    padding: 100px 0 1000px 0;
    background: url('./public/images/desktop-bg.jpg');
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
}
.cities__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
}
.cities__item {
    width: 100%;
}
.cities__item > .cities__item__line {
    display: none;
}
.cities__item__container {
    width: 100%;
    display: flex;
    align-items: end;
    justify-content: space-between;
    gap: 20px;
}
.cities__item__line {
    width: 100%;
    height: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--black);
}
.cities__item hr {
    width: 100%;
    height: 0;
    border: none;
    border-top: 3px dashed var(--lightGrey);
}
.cities__item__city, .cities__item__btns {
    display: flex;
    align-items: stretch;
    gap: 20px;
    height: 50px;
}
.cities__item__city h2, .cities__item__city h3, .cities__item__btn {
    background-color: var(--black);
    display: flex;
    align-items: center;
    justify-content: center;
    text-wrap: nowrap;
}
.cities__item__city h3 {
    font-family: var(--secondFont);
}
.cities__item__btn--1 {
    width: 50px;
}

/*----footer-------------------------------------------*/

.footer {
    width: 100%;
    padding: 60px 0;
    background-color: var(--black);
}
.footer__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 60px;
}
.footer__container p {
    color: var(--grey);
    font-size: 24px;
    text-align: center;
}
.socials {
    display: flex;
    align-items: center;
    gap: 30px 60px;
}

/*----popup-------------------------------------------*/

.popup {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.2);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 999;
}
.popup--active {
    display: flex;
}
.popup__content {
    max-width: 768px;
    width: 100%;
    padding: 40px;
    text-align: center;
    position: relative;
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
    background: rgba(0, 0, 0, 0.5);
    overflow: hidden;
    color: var(--white);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    border-radius: 40px;
}
.popup__content::before {
    content: "";
    position: absolute;
    inset: 0;
    padding: 1px;
    border-radius: 40px;
    background: linear-gradient(
            to bottom right,
            #ffffff,
            #999999
    );
    -webkit-mask:
            linear-gradient(#fff 0 0) content-box,
            linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude;
    pointer-events: none;
}
.popup__content::after {
    content: "";
    position: absolute;
    inset: 0;
    background-size: cover;
    opacity: 0.5;
    pointer-events: none;
}
.popup__content * {
    background-color: rgba(0, 0, 0, 0);
}
.popup__logo {
    width: 80px;
    height: 80px;
    margin-bottom: -40px;
}
.popup__content h2 {
    font-size: 48px;
    font-weight: 700;
}
.popup__content p {
    font-size: 20px;
    font-weight: 400;
    color: var(--white);
}
.popup__close {
    position: absolute;
    top: 30px;
    right: 30px;
    cursor: pointer;
}
.popup__socials {
    display: flex;
    align-items: center;
    gap: 40px;
}
.popup__socials svg {
    width: 40px;
    height: 40px;
}

/*----preloader-------------------------------------------*/

.wrapper {
    display: none;
}
.preloader {
    position: fixed;
    inset: 0;
    background-color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}
.preloader .logo {
    height: 200px;
    width: 200px;
    animation: shimmer 2s infinite alternate;
}

@keyframes shimmer {
    0% {
        filter: brightness(0.7);
    }
    25% {
        filter: brightness(1.3);
    }
    50% {
        filter: brightness(0.7);
    }
    75% {
        filter: brightness(1.3);
    }
    100% {
        filter: brightness(0.7);
    }
}


/*----media-------------------------------------------*/

@media (min-width: 768px) and (max-width: 1439px) {

    .__container {
        padding: 0 20px;
    }

    /*----header-------------------------------------------*/

    .header {
        width: 100%;
    }

    /*----cities-------------------------------------------*/

    .cities {
        padding: 80px 0 1000px 0;
        background: url('./public/images/tablet-bg.jpg');
        background-size: cover;
        background-position: bottom;
        background-repeat: no-repeat;
    }
    .cities__item__city, .cities__item__btns {
        display: flex;
        align-items: stretch;
        gap: 20px;
        height: 40px;
    }
    .cities__item__city h2, .cities__item__city h3, .cities__item__btn {
        font-size: 32px;
        font-weight: 600;
    }
    .cities__item__btn--1 {
        width: 40px;
    }

    /*----footer-------------------------------------------*/

    .footer {
        padding: 40px 0;
    }
    .footer__container {
        gap: 30px;
    }
    .footer__container p {
        font-size: 14px;
    }
    .socials {
        display: flex;
        align-items: center;
        gap: 20px 40px;
    }
    .socials svg {
        width: 30px;
        height: 30px;
    }

    /*----popup-------------------------------------------*/

    .popup__content {
        max-width: none;
        width: 60%;
        padding: 20px;
        gap: 20px;
        border-radius: 20px;
    }
    .popup__content::before {
        border-radius: 20px;
    }
    .popup__content h2 {
        font-size: 32px;
    }
    .popup__content p {
        font-size: 14px;
    }
    .popup__logo {
        width: 60px;
        height: 60px;
        margin-bottom: -20px;
    }
    .popup__close {
        top: 15px;
        right: 15px;
    }
    .popup__close svg {
        width: 10px;
        height: 10px;
    }
    .popup__socials {
        gap: 20px;
    }
    .popup__socials svg {
        width: 30px;
        height: 30px;
    }
}

@media (max-width: 767px) {

    .__container {
        padding: 0 20px;
    }

    /*----header-------------------------------------------*/

    .header {
        width: 100%;
    }

    /*----cities-------------------------------------------*/

    .cities {
        padding: 40px 0 480px 0;
        background: url('./public/images/mobile-bg.jpg');
        background-size: cover;
        background-position: bottom;
        background-repeat: no-repeat;
    }
    .cities__container {
        gap: 20px;
    }
    .cities__item {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }
    .cities__item > .cities__item__line {
        display: flex;
    }
    .cities__item__container {
        width: 100%;
        display: flex;
        align-items: end;
        justify-content: space-between;
        gap: 20px;
    }
    .cities__item__container > .cities__item__line {
        display: none;
    }
    .cities__item__line {
        width: 100%;
        height: 8px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: var(--black);
    }
    .cities__item__city, .cities__item__btns {
        display: flex;
        align-items: stretch;
        gap: 10px;
        height: 20px;
    }
    .cities__item__city h2, .cities__item__city h3, .cities__item__btn {
        font-size: 16px;
    }
    .cities__item__city h3 {
        font-family: var(--secondFont);
    }
    .cities__item__btn--1 {
        width: 20px;
    }
    .cities__item__btn--1 img {
        width: 20px;
        height: 20px;
    }

    /*----footer-------------------------------------------*/

    .footer {
        padding: 20px 0;
    }
    .footer__container {
        gap: 30px;
    }
    .footer__container p {
        font-size: 10px;
    }
    .socials {
        gap: 15px 15px;
    }
    .socials svg {
        width: 25px;
        height: 25px;
    }

    /*----popup-------------------------------------------*/

    .popup__content {
        max-width: none;
        width: calc(100% - 20px);
        padding: 20px;
        gap: 20px;
        border-radius: 20px;
    }
    .popup__content::before {
        border-radius: 20px;
    }
    .popup__content h2 {
        font-size: 24px;
    }
    .popup__content p {
        font-size: 10px;
    }
    .popup__logo {
        width: 40px;
        height: 40px;
        margin-bottom: -20px;
    }
    .popup__close {
        top: 15px;
        right: 15px;
    }
    .popup__close svg {
        width: 10px;
        height: 10px;
    }
    .popup__socials {
        gap: 15px;
    }
    .popup__socials svg {
        width: 20px;
        height: 20px;
    }
}